In [2]:
import gdown
import os
import pandas as pd

## Get HPLC data

In [2]:
url_hplc = 'https://drive.google.com/uc?id=1X3D8_uFx4QKuHHLV4kKOgzzAPoaXHTlv'
output_hplc = 'data/hplc.xlsx'
gdown.download(url_hplc, output_hplc, quiet=False)

Downloading...
From: https://drive.google.com/uc?id=1X3D8_uFx4QKuHHLV4kKOgzzAPoaXHTlv
To: /home/usr1_tt/collocation_study/data/hplc.xlsx
100%|██████████| 15.2k/15.2k [00:00<00:00, 2.42MB/s]

'data/hplc.xlsx'

In [3]:
df = pd.read_excel('data/hplc.xlsx',index_col=0,parse_dates=True)

/tmp/ipykernel_2040452/2710891165.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = pd.read_excel('data/hplc.xlsx',index_col=0,parse_dates=True)

In [5]:
df_hplc = df.iloc[0:,4:].sum(axis=1).to_frame(name='tvoc')
df_hplc.index = df_hplc.index.map(lambda x: x.replace(year=2024, month=10, day=29) if x.date() == pd.Timestamp('2024-11-08').date() else x)
df_hplc.index.name = 'datetime'

df_hplc

                        tvoc
datetime
2024-10-29 11:13:00   46.236
2024-10-29 11:14:00   43.901
2024-10-29 11:47:00  209.815
2024-10-29 11:55:00   69.578
2024-10-29 12:37:00  279.627
2024-10-29 13:00:00    8.169
2024-10-29 13:32:00   40.150
2024-10-29 14:26:00  534.548
2024-10-29 14:58:00   67.792

In [6]:
df_hplc.to_csv('data/clean_data/hplc.csv')