In [2]:
import pandas as pd
import gdown

## Download data

In [17]:
# Google Drive URLs
url_inbiot = 'https://drive.google.com/uc?id=1qDR1vD_NbWxO2TWP7aw_j859nRj693iC'
url_kaiterra = 'https://drive.google.com/uc?id=14cfqJV2SrJM3C5uUJnh6O8djJjDNiSYy'
url_LS_168 = 'https://drive.google.com/uc?id=1da70IJV9g1WkrNLlQZ_yej3DjfvtP0sG'
url_LS_169 = 'https://drive.google.com/uc?id=1S2my7QckEAVMMGT2FUCcDa00xTrF6DKg'
url_smart_s = 'https://drive.google.com/uc?id=1QVS-ocDQ-Wj54o5AFFQcwPS3MafnHUjs'



# Output paths
output_inbiot = 'data/Inbiot.xlsx'
output_kaiterra = 'data/Kaiterra.csv'
output_ls_168 = 'data/ls_168.csv'
output_ls_169 = 'data/ls_169.csv'
output_smart_sense = 'data/smart_sense.csv'

# Download each file to the specified location
gdown.download(url_inbiot, output_inbiot, quiet=False)
gdown.download(url_kaiterra, output_kaiterra, quiet=False)
gdown.download(url_LS_168, output_ls_168, quiet=False)
gdown.download(url_LS_169, output_ls_169, quiet=False)
gdown.download(url_smart_s, output_smart_sense, quiet=False)

Downloading...
From: https://drive.google.com/uc?id=1qDR1vD_NbWxO2TWP7aw_j859nRj693iC
To: /home/usr1_tt/valentino_task/data/Inbiot.xlsx
100%|██████████| 66.9k/66.9k [00:00<00:00, 1.95MB/s]
Downloading...
From: https://drive.google.com/uc?id=14cfqJV2SrJM3C5uUJnh6O8djJjDNiSYy
To: /home/usr1_tt/valentino_task/data/Kaiterra.csv
100%|██████████| 831k/831k [00:00<00:00, 13.2MB/s]
Downloading...
From: https://drive.google.com/uc?id=1da70IJV9g1WkrNLlQZ_yej3DjfvtP0sG
To: /home/usr1_tt/valentino_task/data/ls_168.csv
100%|██████████| 41.0M/41.0M [00:00<00:00, 91.2MB/s]
Downloading...
From: https://drive.google.com/uc?id=1S2my7QckEAVMMGT2FUCcDa00xTrF6DKg
To: /home/usr1_tt/valentino_task/data/ls_169.csv
100%|██████████| 19.7M/19.7M [00:00<00:00, 72.5MB/s]
Downloading...
From: https://drive.google.com/uc?id=1QVS-ocDQ-Wj54o5AFFQcwPS3MafnHUjs
To: /home/usr1_tt/valentino_task/data/smart_sense.csv
100%|██████████| 963k/963k [00:00<00:00, 10.2MB/s]

'data/smart_sense.csv'

## Sensors data

### inbiot

* Data ranges from: **2024-10-11 : 2024-10-21**

In [28]:
df_inbiot = pd.read_excel('data/Inbiot.xlsx')

df_inbiot

,Date,Time,Temperature (°C),Humidity (%),CO2 (ppm),Formaldehyde (µg/m3),TVOC (Index),PM 1.0 (µg/m3),PM 4.0 (µg/m3),PM 10 (µg/m3),PM 2.5 (µg/m3)
0,2024-10-11,13:24:18,20.5,58,566,3,0,1,1,1,1
1,2024-10-11,13:33:57,21.0,58,528,11,87,1,1,1,1
2,2024-10-11,13:43:57,22.2,57,596,36,103,1,1,1,1
3,2024-10-11,13:44:34,22.7,57,675,42,103,1,1,1,1
4,2024-10-11,13:54:27,23.0,57,701,41,102,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...
1430,2024-10-21,11:08:54,21.2,50,494,29,30,18,19,19,19
1431,2024-10-21,11:18:54,21.4,51,500,30,33,18,19,19,19
1432,2024-10-21,11:28:54,21.4,51,501,31,36,17,18,18,18
1433,2024-10-21,11:38:54,21.5,51,504,31,38,19,20,20,20
1434,2024-10-21,11:48:55,21.6,51,506,32,40,18,19,19,19

#### preprocessing

In [29]:
df_inbiot['Date'] = df_inbiot['Date'].astype(str)
df_inbiot['Time'] = df_inbiot['Time'].astype(str)

df_inbiot['datetime'] = pd.to_datetime(df_inbiot['Date'] + ' ' + df_inbiot['Time'], format='%Y-%m-%d %H:%M:%S')


df_inbiot.columns = (
    df_inbiot.columns
    .str.replace(r"\(.*?\)", "", regex=True)  
    .str.replace(r"\s+", "_", regex=True)     
    .str.rstrip("_")                          
    .str.lower()                              
)

df_inbiot["sensor"] = "inbiot"
print(df_inbiot.columns)
df_inbiot.drop(columns=["date","time"],inplace=True)

df_inbiot.set_index("datetime",inplace=True)

Index(['date', 'time', 'temperature', 'humidity', 'co2', 'formaldehyde',
       'tvoc', 'pm_1.0', 'pm_4.0', 'pm_10', 'pm_2.5', 'datetime', 'sensor'],
      dtype='object')

In [30]:
df_inbiot

,temperature,humidity,co2,formaldehyde,tvoc,pm_1.0,pm_4.0,pm_10,pm_2.5,sensor
datetime,,,,,,,,,,
2024-10-11 13:24:18,20.5,58,566,3,0,1,1,1,1,inbiot
2024-10-11 13:33:57,21.0,58,528,11,87,1,1,1,1,inbiot
2024-10-11 13:43:57,22.2,57,596,36,103,1,1,1,1,inbiot
2024-10-11 13:44:34,22.7,57,675,42,103,1,1,1,1,inbiot
2024-10-11 13:54:27,23.0,57,701,41,102,1,1,1,1,inbiot
...,...,...,...,...,...,...,...,...,...,...
2024-10-21 11:08:54,21.2,50,494,29,30,18,19,19,19,inbiot
2024-10-21 11:18:54,21.4,51,500,30,33,18,19,19,19,inbiot
2024-10-21 11:28:54,21.4,51,501,31,36,17,18,18,18,inbiot
2024-10-21 11:38:54,21.5,51,504,31,38,19,20,20,20,inbiot
2024-10-21 11:48:55,21.6,51,506,32,40,18,19,19,19,inbiot

### kaiterra

In [41]:
df_kaiterra = pd.read_csv('data/Kaiterra.csv')

df_kaiterra

,Time Point,km200.rpm10c (µg/m³),km200.rpm25c (µg/m³),km203.rtvoc (ppb),rco2 (ppm),rhumid (%),rtemp (C),Overall Index (US),Primary Pollutant
0,2024-10-11 13:42:04,6,6,0,615,56.95,22.73,25,PM2.5
1,2024-10-11 13:43:02,0,0,0,682,57.50,22.72,23,CO2
2,2024-10-11 13:44:02,0,0,0,670,57.79,22.73,22,CO2
3,2024-10-11 13:45:02,1,0,0,682,57.93,22.77,23,CO2
4,2024-10-11 13:46:02,0,0,0,682,58.18,22.82,23,CO2
...,...,...,...,...,...,...,...,...,...
14601,2024-10-21 16:49:46,38,36,2137,584,52.36,23.95,148,TVOC
14602,2024-10-21 16:50:46,37,35,2138,585,52.41,23.93,148,TVOC
14603,2024-10-21 16:51:46,37,36,2132,584,52.38,23.94,148,TVOC
14604,2024-10-21 16:52:46,39,37,2132,584,52.41,23.93,148,TVOC
14605,2024-10-21 16:53:46,41,37,2139,586,52.43,23.93,149,TVOC

#### prep

In [42]:
df_kaiterra.rename(columns={
    'km200.rpm10c (µg/m³)': 'pm_10',
    'km200.rpm25c (µg/m³)': 'pm_2.5',
    'km203.rtvoc (ppb)': 'tvoc_ppb',
    'rco2 (ppm)': 'co2',
    'rhumid (%)': 'humidity',
    'rtemp (C)': 'temperature',
    'Overall Index (US)': 'overall_index',
    'Primary Pollutant': 'primary_pollutant',
    'Time Point': 'datetime'
}, inplace=True)

df_kaiterra.set_index("datetime",inplace=True)

df_kaiterra["sensor"] = "kaiterra"

df_kaiterra

,pm_10,pm_2.5,tvoc_ppb,co2,humidity,temperature,overall_index,primary_pollutant,sensor
datetime,,,,,,,,,
2024-10-11 13:42:04,6,6,0,615,56.95,22.73,25,PM2.5,kaiterra
2024-10-11 13:43:02,0,0,0,682,57.50,22.72,23,CO2,kaiterra
2024-10-11 13:44:02,0,0,0,670,57.79,22.73,22,CO2,kaiterra
2024-10-11 13:45:02,1,0,0,682,57.93,22.77,23,CO2,kaiterra
2024-10-11 13:46:02,0,0,0,682,58.18,22.82,23,CO2,kaiterra
...,...,...,...,...,...,...,...,...,...
2024-10-21 16:49:46,38,36,2137,584,52.36,23.95,148,TVOC,kaiterra
2024-10-21 16:50:46,37,35,2138,585,52.41,23.93,148,TVOC,kaiterra
2024-10-21 16:51:46,37,36,2132,584,52.38,23.94,148,TVOC,kaiterra
2024-10-21 16:52:46,39,37,2132,584,52.41,23.93,148,TVOC,kaiterra
2024-10-21 16:53:46,41,37,2139,586,52.43,23.93,149,TVOC,kaiterra

### LS 168

In [52]:
df_168 = pd.read_csv('data/ls_168.csv')

df_168

,timestamp(UTC),NetCO2-CO2(ppm),NetCO2-CO2_ug,NetADC_O3-O3_ug,NetADC_O3-O3(ppb),NetADC_CO-CO_ug,NetADC_CO-CO( ppb),NetPM-PM10(µg/m3),NetPM-PM25(µg/m3),NetPid_P1-PPB(ppm),NetPid_P1-PPB_ug,NetBME280-PERC(%),NetBME280-TEMP_EXT(°C),NetBME280-HPA(hPa),NetADC_NO2-NO2_ug,NetADC_NO2-NO2(ppb)
0,2024-10-01T00:00:02,435.41,777.74,110.36,56.65,101.54,89.32,5.84,5.84,0.1783,406.0460,34.52,24.79,1005.05,125.88,67.41
1,2024-10-01T00:00:07,436.38,779.48,65.85,33.80,86.15,75.78,5.91,5.91,0.1784,406.3447,34.53,24.79,1005.04,73.97,39.61
2,2024-10-01T00:00:12,436.05,778.92,88.10,45.22,91.29,80.30,5.77,5.77,0.1784,406.3096,34.53,24.79,1005.09,100.84,54.00
3,2024-10-01T00:00:17,435.85,778.53,80.44,41.29,89.57,78.79,5.59,5.59,0.1783,406.0724,34.54,24.79,1005.05,64.71,34.65
4,2024-10-01T00:00:22,436.12,779.02,87.40,44.86,111.80,98.34,5.29,5.29,0.1783,406.0920,34.53,24.79,1005.06,73.97,39.61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
344300,2024-10-20T23:59:38,880.85,1594.21,97.02,49.15,1008.75,875.75,40.54,40.54,0.2695,621.9131,49.49,24.88,1018.64,109.69,57.97
344301,2024-10-20T23:59:43,880.55,1593.64,111.82,56.65,1012.20,878.76,40.31,40.31,0.2688,620.1493,49.47,24.88,1018.63,82.46,43.58
344302,2024-10-20T23:59:48,880.51,1593.57,89.97,45.58,1026.07,890.79,40.46,40.46,0.2690,620.5919,49.49,24.88,1018.63,82.46,43.58
344303,2024-10-20T23:59:53,880.21,1593.08,104.76,53.07,1001.85,869.74,40.69,40.69,0.2694,621.7235,49.49,24.88,1018.66,64.62,34.15
344304,2024-10-20T23:59:58,879.62,1592.05,97.02,49.15,1027.85,892.29,40.64,40.64,0.2698,622.4796,49.61,24.87,1018.65,92.79,49.04

#### prep

In [53]:
df_168.rename(columns={
    'timestamp(UTC)': 'datetime',
    'NetCO2-CO2(ppm)': 'co2',
    'NetCO2-CO2_ug': 'co2_ug',
    'NetADC_O3-O3_ug': 'o3_ug',
    'NetADC_O3-O3(ppb)': 'o3',
    'NetADC_CO-CO_ug': 'co_ug',
    'NetADC_CO-CO( ppb)': 'co',
    'NetPM-PM10(µg/m3)': 'pm_10',
    'NetPM-PM25(µg/m3)': 'pm_2.5',
    'NetPid_P1-PPB(ppm)': 'p1',
    'NetPid_P1-PPB_ug': 'p1_ug',
    'NetBME280-PERC(%)': 'humidity',
    'NetBME280-TEMP_EXT(°C)': 'temperature',
    'NetBME280-HPA(hPa)': 'pressure',
    'NetADC_NO2-NO2_ug': 'no2_ug',
    'NetADC_NO2-NO2(ppb)': 'no2',
}, inplace=True)


df_168['datetime'] = pd.to_datetime(df_168['datetime'])
df_168.set_index('datetime', inplace=True)

df_168.drop(columns=df_168.filter(like='_ug').columns, inplace=True)

df_168["sensor"] = "LS_168"

df_168.head()

,co2,o3,co,pm_10,pm_2.5,p1,humidity,temperature,pressure,no2,sensor
datetime,,,,,,,,,,,
2024-10-01 00:00:02,435.41,56.65,89.32,5.84,5.84,0.1783,34.52,24.79,1005.05,67.41,LS_168
2024-10-01 00:00:07,436.38,33.80,75.78,5.91,5.91,0.1784,34.53,24.79,1005.04,39.61,LS_168
2024-10-01 00:00:12,436.05,45.22,80.30,5.77,5.77,0.1784,34.53,24.79,1005.09,54.00,LS_168
2024-10-01 00:00:17,435.85,41.29,78.79,5.59,5.59,0.1783,34.54,24.79,1005.05,34.65,LS_168
2024-10-01 00:00:22,436.12,44.86,98.34,5.29,5.29,0.1783,34.53,24.79,1005.06,39.61,LS_168

### LS 169

In [54]:
df_169 = pd.read_csv('data/ls_169.csv')

df_169

,timestamp(UTC),NetCO2-CO2(ppm),NetCO2-CO2_ug,NetADC_O3-O3_ug,NetADC_O3-O3(ppb),NetADC_CO-CO_ug,NetADC_CO-CO( ppb),NetPM-PM10(µg/m3),NetPM-PM25(µg/m3),NetPid_P1-PPB(ppm),NetPid_P1-PPB_ug,NetBME280-PERC(%),NetBME280-TEMP_EXT(°C),NetBME280-HPA(hPa),NetADC_NO2-NO2_ug,NetADC_NO2-NO2(ppb)
0,2024-10-11T11:30:58,414.07,743.23,-49.55,-25.31,17302.75,15146.45,0.93,0.87,0.3725,852.4625,52.65,22.40,1001.82,-352.57,-187.89
1,2024-10-11T11:31:03,415.02,744.95,-34.73,-17.74,17237.12,15088.52,1.06,0.99,0.3472,794.6321,52.58,22.41,1001.89,-338.06,-180.15
2,2024-10-11T11:31:08,414.56,744.03,-19.91,-10.17,17250.21,15101.89,1.21,1.13,0.3224,737.7207,52.62,22.43,1001.83,-300.90,-160.37
3,2024-10-11T11:31:13,414.47,743.87,-26.64,-13.61,17219.57,15075.15,1.21,1.11,0.3037,694.9004,52.65,22.43,1001.82,-271.05,-144.46
4,2024-10-11T11:31:18,414.70,744.23,2.31,1.18,17249.23,15101.89,1.15,1.08,0.2912,666.2870,52.60,22.45,1001.84,-273.46,-145.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164472,2024-10-20T23:59:36,842.06,1524.76,81.11,41.07,1322.18,1147.28,38.67,38.67,0.2472,570.6189,49.19,24.77,1018.77,63.47,33.53
164473,2024-10-20T23:59:41,842.64,1525.76,87.90,44.51,1301.60,1129.46,38.04,38.04,0.2472,570.6476,49.17,24.78,1018.78,39.05,20.63
164474,2024-10-20T23:59:46,842.10,1524.83,74.32,37.63,1311.90,1138.37,37.83,37.83,0.2472,570.6175,49.17,24.77,1018.77,55.33,29.23
164475,2024-10-20T23:59:51,841.22,1523.25,66.85,33.85,1322.19,1147.28,37.48,37.48,0.2473,570.9796,49.18,24.77,1018.78,47.19,24.93
164476,2024-10-20T23:59:56,840.12,1521.22,81.11,41.07,1319.58,1145.05,37.30,37.30,0.2474,571.1909,49.19,24.77,1018.75,71.61,37.83

#### prep

In [55]:
df_169.rename(columns={
    'timestamp(UTC)': 'datetime',
    'NetCO2-CO2(ppm)': 'co2',
    'NetCO2-CO2_ug': 'co2_ug',
    'NetADC_O3-O3_ug': 'o3_ug',
    'NetADC_O3-O3(ppb)': 'o3',
    'NetADC_CO-CO_ug': 'co_ug',
    'NetADC_CO-CO( ppb)': 'co',
    'NetPM-PM10(µg/m3)': 'pm_10',
    'NetPM-PM25(µg/m3)': 'pm_2.5',
    'NetPid_P1-PPB(ppm)': 'p1',
    'NetPid_P1-PPB_ug': 'p1_ug',
    'NetBME280-PERC(%)': 'humidity',
    'NetBME280-TEMP_EXT(°C)': 'temperature',
    'NetBME280-HPA(hPa)': 'pressure',
    'NetADC_NO2-NO2_ug': 'no2_ug',
    'NetADC_NO2-NO2(ppb)': 'no2',
}, inplace=True)


df_169['datetime'] = pd.to_datetime(df_169['datetime'])
df_169.set_index('datetime', inplace=True)

df_169.drop(columns=df_169.filter(like='_ug').columns, inplace=True)

df_169["sensor"] = "LS_169"

df_169.head()

,co2,o3,co,pm_10,pm_2.5,p1,humidity,temperature,pressure,no2,sensor
datetime,,,,,,,,,,,
2024-10-11 11:30:58,414.07,-25.31,15146.45,0.93,0.87,0.3725,52.65,22.40,1001.82,-187.89,LS_169
2024-10-11 11:31:03,415.02,-17.74,15088.52,1.06,0.99,0.3472,52.58,22.41,1001.89,-180.15,LS_169
2024-10-11 11:31:08,414.56,-10.17,15101.89,1.21,1.13,0.3224,52.62,22.43,1001.83,-160.37,LS_169
2024-10-11 11:31:13,414.47,-13.61,15075.15,1.21,1.11,0.3037,52.65,22.43,1001.82,-144.46,LS_169
2024-10-11 11:31:18,414.70,1.18,15101.89,1.15,1.08,0.2912,52.60,22.45,1001.84,-145.75,LS_169

### Smart sense

In [91]:
df_smart_sense = pd.read_csv('data/smart_sense.csv')

df_smart_sense

,ts[datetime],te[datetime],CO2[ppm],T[°C],RH[%],indoor.NOx_index[idx],indoor.VOC_index[idx],PM1[ugm3],PM2.5[ugm3],PM10[ugm3]
0,11/10/2024 10:39,11/10/2024 10:39,439,19.06,73.80,NaN,NaN,NaN,NaN,NaN
1,11/10/2024 10:39,11/10/2024 10:39,482,19.08,73.44,0.0,0.0,NaN,NaN,NaN
2,11/10/2024 10:40,11/10/2024 10:40,668,19.34,71.29,0.0,0.0,6.5,9.7,10.6
3,11/10/2024 10:41,11/10/2024 10:41,604,19.52,69.47,0.0,0.0,6.5,9.7,10.6
4,11/10/2024 10:42,11/10/2024 10:42,539,19.60,68.93,0.0,0.0,4.9,7.2,8.1
...,...,...,...,...,...,...,...,...,...,...
14112,21/10/2024 10:32,21/10/2024 10:32,600,21.14,49.14,2.0,15.0,15.0,23.9,26.6
14113,21/10/2024 10:33,21/10/2024 10:33,603,21.16,49.22,2.0,15.0,15.8,24.7,26.8
14114,21/10/2024 10:34,21/10/2024 10:34,603,21.18,49.19,2.0,15.0,15.8,24.7,26.8
14115,21/10/2024 10:35,21/10/2024 10:35,602,21.19,49.20,2.0,15.0,15.6,24.4,26.5
14116,21/10/2024 10:36,21/10/2024 10:36,603,21.21,49.31,2.0,15.0,15.5,24.2,26.3

#### prep

In [92]:
# Standardize column names
df_smart_sense.rename(columns={
    'ts[datetime]': 'start_time',
    'te[datetime]': 'end_time',
    'CO2[ppm]': 'co2',
    'T[°C]': 'temperature',
    'RH[%]': 'humidity',
    'indoor.NOx_index[idx]': 'indoor_nox_index',
    'indoor.VOC_index[idx]': 'indoor_voc_index',
    'PM1[ugm3]': 'pm_1.0',
    'PM2.5[ugm3]': 'pm_2.5',
    'PM10[ugm3]': 'pm_10',
}, inplace=True)


df_smart_sense['start_time'] = pd.to_datetime(df_smart_sense['start_time'],format="%d/%m/%Y %H:%M")
df_smart_sense['end_time'] = pd.to_datetime(df_smart_sense['end_time'],format="%d/%m/%Y %H:%M")

are_equal = df_smart_sense['end_time'].equals(df_smart_sense['end_time'])

assert are_equal == True

df_smart_sense.drop('end_time',axis=1,inplace=True)

In [93]:

df_smart_sense.set_index('start_time', inplace=True)
df_smart_sense.rename_axis('datetime', inplace=True)

df_smart_sense["sensor"] = "smart_sense"
df_smart_sense.head()

,co2,temperature,humidity,indoor_nox_index,indoor_voc_index,pm_1.0,pm_2.5,pm_10,sensor
datetime,,,,,,,,,
2024-10-11 10:39:00,439,19.06,73.80,NaN,NaN,NaN,NaN,NaN,smart_sense
2024-10-11 10:39:00,482,19.08,73.44,0.0,0.0,NaN,NaN,NaN,smart_sense
2024-10-11 10:40:00,668,19.34,71.29,0.0,0.0,6.5,9.7,10.6,smart_sense
2024-10-11 10:41:00,604,19.52,69.47,0.0,0.0,6.5,9.7,10.6,smart_sense
2024-10-11 10:42:00,539,19.60,68.93,0.0,0.0,4.9,7.2,8.1,smart_sense

### ref machine

In [107]:
ref_df = pd.read_csv('data/palas_data.csv')

prep

In [108]:
rename_map = {
    'timestamp': 'timestamp',
    'averaging[s]': 'averaging',
    'PM1 [µg/m³]': 'pm_1.0',
    'PM2.5 [µg/m³]': 'pm_2.5',
    'PM4 [µg/m³]': 'pm_4.0',
    'PM10 [µg/m³]': 'pm_10',
    'PMtot [µg/m³]': 'pm_tot',
    'CO2 [ppm]': 'co2',
    'VOC [mg/m³]': 'voc',
    'Cn [1/cm³]': 'cn',
    'M1,0 [µm]': 'm1_0',
    'M2,0 [µm²]': 'm2_0',
    'M3,0 [µm³]': 'm3_0',
    'x10(dCn) [µm]': 'x10_dcn',
    'x16(dCn) [µm]': 'x16_dcn',
    'x50(dCn) [µm]': 'x50_dcn',
    'x84(dCn) [µm]': 'x84_dcn',
    'x90(dCn) [µm]': 'x90_dcn',
    'T [°C]': 'temperature',
    'p [hPa]': 'pressure',
    'rH [%]': 'humidity',
    'AQI-Palas': 'aqi_palas',
    'Infection Risk Index': 'infection_risk_index',
    'volume flow [l/min]': 'volume_flow',
    'power (volume flow blower) [%]': 'power_volume_flow',
    'global error': 'global_error',
    'dCn(µm) [1/cm³]': 'dcn'
}

# Standardizing column names
ref_df.rename(columns=rename_map, inplace=True)

ref_df["sensor"] = "ref_sensor"

ref_df['datetime'] = pd.to_datetime(ref_df['timestamp'], format='%d.%m.%Y %H:%M:%S', errors='coerce')

ref_df.set_index('datetime',inplace=True)
ref_df.drop('timestamp',axis=1,inplace=True)

ref_df

,averaging,pm_1.0,pm_2.5,pm_4.0,pm_10,pm_tot,co2,voc,cn,m1_0,...,temperature,pressure,humidity,aqi_palas,infection_risk_index,volume_flow,power_volume_flow,global_error,dcn,sensor
datetime,,,,,,,,,,,,,,,,,,,,,
2024-09-24 00:00:00,60.0,6.80,6.95,7.27,6.80,6.80,630.00,3.82,193.09,0.24,...,24.27,996.18,49.80,78.00,0.35,1.0,15.66,0.0,->,ref_sensor
2024-09-24 00:01:00,60.0,6.81,6.91,7.21,6.75,6.75,629.67,3.75,198.89,0.24,...,24.22,996.14,49.81,78.00,0.34,1.0,15.68,0.0,->,ref_sensor
2024-09-24 00:02:00,60.0,6.94,7.19,7.69,7.18,7.20,628.17,3.75,198.12,0.24,...,24.20,996.13,49.84,78.00,0.35,1.0,15.67,0.0,->,ref_sensor
2024-09-24 00:03:00,60.0,6.89,6.99,7.28,6.82,6.82,628.07,3.81,197.39,0.24,...,24.24,996.10,49.80,78.00,0.35,1.0,15.64,0.0,->,ref_sensor
2024-09-24 00:04:00,60.0,7.18,7.36,7.70,7.21,7.21,628.10,3.77,200.98,0.24,...,24.26,996.16,49.79,78.00,0.35,1.0,15.66,0.0,->,ref_sensor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-10-23 13:31:00,60.0,39.69,40.76,43.07,40.28,40.34,1047.80,6.25,910.15,0.26,...,23.08,1019.05,58.04,82.00,1.59,1.0,15.69,0.0,->,ref_sensor
2024-10-23 13:32:00,60.0,39.79,41.22,44.75,43.45,44.38,1041.80,6.21,930.16,0.26,...,23.09,1019.08,58.21,82.00,1.57,1.0,15.71,0.0,->,ref_sensor
2024-10-23 13:33:00,60.0,40.25,41.56,44.59,41.73,76.67,1049.43,6.33,942.98,0.26,...,23.08,1019.08,58.21,82.77,1.57,1.0,15.64,0.0,->,ref_sensor
2024-10-23 13:34:00,60.0,40.84,42.62,46.17,43.22,43.47,1116.17,6.48,930.83,0.26,...,23.08,1019.09,58.75,83.00,1.62,1.0,15.68,0.0,->,ref_sensor
2024-10-23 13:35:00,60.0,39.76,41.03,43.47,40.63,40.69,1213.57,6.68,892.17,0.26,...,23.37,1019.06,58.52,83.00,1.90,1.0,15.45,0.0,->,ref_sensor